@use "base/variables" as v;

.logo {
  display: block;
  width: 320px;
  padding: 10px 0 10px 60px;
}

button {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  line-height: 1;
  color: v.$cuaternario;
  font-family: v.$fuentePrincipal;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-align: left;
  gap: 4px;
  height: 100%;
  opacity: 0.6;
  font-weight: 700;
}

@media (width >=500px) {
  button {
    font-size: 16px;
  }
}

h2 {
  margin: 16px 0 10px;
  font-size: 20px;
  font-weight: 700;
  color: v.$cuaternario;
  opacity: 0.8;
}

@media (width >=500px) {
  h2 {
    font-size: 18px;
    opacity: 0.9;
  }
}

.navbar,
.burger,
.dropdowns {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  z-index: 1;
  left: 0;
  display: flex;
  align-items: stretch;
  height: 72px;
  background: v.$primario;
  color: v.$cuaternario;
  box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
}

.burger {
  z-index: 3;
  right: 0;
  display: grid;
  place-items: center;
  width: 72px;
  height: 72px;
  background-image: url("/build/img/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}

body.open .burger {
  background-image: url("/build/img/close.svg");
}

@media (width >=500px) {
  .burger {
    display: none;
  }
}

button>img {
  display: none;
}

.dropdown>button {
  color: v.$cuaternario;
}

@media (width >=500px) {
  .dropdown>button {
    padding: 0 10px 0 24px;
  }

  button>img {
    display: block;
  }
}

@media (width >=500px) {
  .dropdown:hover button {
    opacity: 1;
  }
}

.dropdowns {
  left: -9999px;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 50px;
  background: v.$primario;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 0.3s;
}

@media (width < 500px) {
  body.open .dropdowns {
    opacity: 1;
    visibility: visible;
    left: 0;
  }
}

@media (width >=500px) {
  .dropdowns {
    position: static;
    flex-direction: row;
    justify-content: flex-start;
    background: transparent;
    opacity: 1;
    visibility: visible;
    padding-left: 0;
  }
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

@media (width >=500px) {
  .dropdown {
    height: 100%;
    flex-direction: row;
    align-items: center;
  }

  .dropdown-menu {
    position: absolute;
    top: 72px;
    left: 0;
    display: flex;
    gap: 32px;
    padding: 6px 24px 20px;
    margin-bottom: 0;
    justify-content: flex-start;
    background: v.$primario;
    opacity: 0;
    visibility: hidden;
    translate: 0 24px;
    transition: 0.3s;
  }

  .dropdown:hover {
    background: v.$primario;
    color: v.$blanco;
  }

  .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    translate: 0 0;
  }
}

.dropdown-menu a {
  display: block;
  cursor: pointer;
  width: 100%;
  color: v.$cuaternario;
  opacity: 1;
  padding: 5px 0;
  text-align: left;
  font-weight: 600;
  white-space: nowrap;
}

@media (width >=500px) {
  .dropdown-menu button {
    opacity: 0.6;
  }

  .dropdown:hover .button {
    opacity: 1;
  }
}

.dropdown-menu button:hover {
  opacity: 1;
}

.hero {
  background: radial-gradient(#FEB561 15%, transparent 16%), repeating-linear-gradient(0deg, transparent 6.5%, #ffffff 7%, #ffffff 9%, transparent 10%), linear-gradient(45deg, transparent 49%, #FEB561 49%, #FEB561 51%, transparent 51%), linear-gradient(-45deg, transparent 49%, #FEB561 49%, #FEB561 51%, transparent 51%);
  background-size: 2em 2em;
  background-color: #ffffff;
  opacity: 0.7;
  height: 100vh;
}