// Fuentes
$fuentePrincipal: 'Open Sans', sans-serif;
$fuenteHeading: 'Rochester', cursive;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$primario: #FEB561;
$secundario: #A08986;
$terciario: #EADDCD;
$cuaternario: #4A2632;
$negro: #000;
$blanco: #FFFFFF;
$gris: #484349;
$grisClaro: #C2C1C9;